/* Episode List */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Item */

.item {
  padding: 16px 0;
  border-top: 1px solid var(--gray-400);
  border-bottom: 1px solid var(--gray-400);
}

.item:not(:first-child) {
  margin-top: -1px;
}
