/* Subscribe Button */

.button {
  background-color: var(--success);
}

/* Subscribed */

.subscribed {
  background-color: var(--gray-500);
  color: var(--gray-800);
}

.subscribed:hover {
  background-color: var(--cta);
  color: var(--white);
}
