/* Field */

.search-form__field {
  position: relative;
  border: 1px solid var(--gray-300);
  border-radius: 12px;
  height: 48px;
  background-color: var(--gray-300);
}

.search-form__field:focus-within {
  border-color: var(--gray-400);
}

/* Input */

.search-form__input {
  position: absolute;
  z-index: 5;
  width: 100%;
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 12px 48px;
  background-color: transparent;
  font-family: inherit;
  font-size: 15px;
  line-height: 24px;
  color: var(--black);
}

/* Placeholder */

.search-form__input::placeholder {
  color: var(--gray-800);
}

/* Focus */

.search-form__input:focus {
  outline: none;
}

/* Icon */

.search-form__icon {
  stroke-width: 2px;
  fill: none;
}

/* Icon Search */

.search-form__icon-search {
  position: absolute;
  top: 12px;
  left: 16px;
  z-index: 1;
  stroke: var(--gray-800);
}

.search-form__input:focus + .search-form__icon-search {
  stroke: var(--black);
}

/* Clear */

.search-form__clear {
  position: absolute;
  top: 4px;
  z-index: 10;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

/* Icon Close */

.search-form__icon-close {
  display: block;
  stroke: var(--black);
}

.search-form__clear:hover .search-form__icon-close {
  stroke: var(--gray-800);
}

/* Animation Rotate */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Icon Spinner */

.search-form__icon-spinner {
  position: absolute;
  top: 12px;
  left: 16px;
  stroke: var(--primary);
  stroke-width: 4px;
  animation: rotate 2s linear infinite;
}
