/* Field */

.field {
  position: relative;
}

/* Input */

.input {
  width: 100%;
  margin: 0;
  padding: 8px 22px;
  border: none;
  border-bottom: 1px solid var(--gray-700);
  border-radius: 0;
  background-color: transparent;
  font-family: inherit;
  font-size: 15px;
  line-height: 24px;
  color: var(--black);
}

/* Placeholder */

.input::placeholder {
  color: var(--gray-800);
}

/* Focus */

.input:focus {
  outline: none;
}

/* Icon */

.icon {
  stroke-width: 2px;
  fill: none;
}

/* Icon Search */

.iconSearch {
  position: absolute;
  top: 12px;
  left: 0;
  z-index: -1;
  stroke: var(--gray-800);
}

.input:focus + .iconSearch {
  stroke: var(--black);
}

/* Clear */

.clear {
  position: absolute;
  top: 0;
  right: -11px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  cursor: pointer;
}

/* Icon Close */

.iconClose {
  display: block;
  stroke: var(--black);
}

.clear:hover .iconClose {
  stroke: var(--gray-800);
}

/* Animation Rotate */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Icon Spinner */

.iconSpinner {
  position: absolute;
  top: 12px;
  left: 0;
  stroke: var(--primary);
  stroke-width: 4px;
  animation: rotate 2s linear infinite;
}
