/* Loader */

.loader {
  display: grid;
  row-gap: 8px;
  justify-items: center;
}

/* Animation Rotate */

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Icon */

.icon {
  fill: none;
  stroke: var(--primary);
  stroke-width: 4px;
  animation: rotate 2s linear infinite;
}

/* Text */

.text {
  font-size: 14px;
  line-height: 22px;
}
