/* Search Item */

.search-item {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 16px;
  padding: 16px;
  text-decoration: none;
}

/* Focus */

.search-item:focus {
  outline: none;
}

/* Hover */

.search-item:hover,
.search-item:focus {
  background-color: var(--gray-400);
}

/* Subscribed */

.search-item--subscribed {
  grid-template-columns: min-content 1fr min-content;
}

/* Cover */

.search-item__cover {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Title */

.search-item__title {
  margin: 0;
  margin-top: -3px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: var(--black);
}

/* Author */

.search-item__author {
  margin: 0;
  margin-top: -3px;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-800);
}

/* Icon */

.search-item__icon {
  align-self: center;
  fill: none;
  stroke: var(--secondary);
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-linejoin: round;
}
