/* Range */

.range {
  width: 100%;
  height: 4px;
  margin: 0;
  border-radius: 2px;
  background-color: var(--gray-800);
  background-image: linear-gradient(var(--primary), var(--primary));
  background-size: 70% 100%;
  background-repeat: no-repeat;
  -webkit-appearance: none;
}

.range:focus {
  outline: none;
}

/* Thumb */

.range::-webkit-slider-thumb {
  width: 18px;
  height: 18px;
  margin-top: -7px;
  border: none;
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
  -webkit-appearance: none;
  box-shadow: 0px 0 2px rgba(0, 0, 0, 0.2);
}

.range::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: var(--white);
  cursor: pointer;
  box-shadow: 0px 0 2px rgba(0, 0, 0, 0.2);
}

/* Track */

.range::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
}

.range::-moz-range-track {
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
}
