/* Episode Card */

@media (max-width: 953px) {
  .card {
    display: grid;
    grid-template-areas:
      'index published control'
      'heading heading control'
      'duration duration control'
    ;
    grid-template-columns: min-content 1fr min-content;
    column-gap: 16px;
  }

  .noIndex {
    grid-template-areas:
      'published published control'
      'heading heading control'
      'duration duration control'
    ;
  }

  .withImage {
    grid-template-areas:
      'image published published control'
      'image heading heading control'
      'image duration duration control'
    ;
    grid-template-columns: min-content min-content 1fr min-content;
  }
}

@media (min-width: 954px) {
  .card {
    display: grid;
    grid-template-columns: min-content 1fr 120px 60px min-content;
    grid-auto-flow: column;
    align-items: center;
    column-gap: 24px;
    width: 100%;
  }

  .noIndex {
    grid-template-columns: 1fr 120px 60px min-content;
  }
}

/* Image */

@media (max-width: 953px) {
  .image {
    grid-area: image;
  }
}

.image {
  display: block;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

/* Index */

.index {
  white-space: nowrap;
  font-size: 15px;
  line-height: 24px;
  color: var(--gray-800);
}

@media (max-width: 953px) {
  .index {
    grid-area: index;
  }
}

/* Heading */

@media (max-width: 953px) {
  .heading {
    grid-area: heading;
  }
}

/* Title */

.title {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: var(--black);
}

.regular {
  font-weight: 400;
}

/* Link */

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  color: var(--primary);
}

/* Published */

.published {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  color: var(--gray-800);
}

@media (max-width: 953px) {
  .published {
    grid-area: published;
  }
}

/* Duration */

.duration {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
  color: var(--gray-800);
}

@media (max-width: 953px) {
  .duration {
    grid-area: duration;
  }
}

@media (min-width: 954px) {
  .duration {
    text-align: right;
  }
}

/* Control */

@media (max-width: 953px) {
  .control {
    grid-area: control;
    align-self: center;
    justify-self: end;
  }
}
