/* Heading */

.heading {
  margin: 0;
  font-weight: 700;
  color: var(--black);
  letter-spacing: -0.02em;
}

/* H1 */

.h1 {
  font-size: 46px;
  line-height: 60px;
}

/* H2 */

.h2 {
  font-size: 40px;
  line-height: 52px;
}

/* H3 */

.h3 {
  font-size: 36px;
  line-height: 47px;
}

/* H4 */

.h4 {
  font-size: 32px;
  line-height: 42px;
}

/* H5 */

.h5 {
  font-size: 28px;
  line-height: 36px;
}

/* H6 */

.h6 {
  font-size: 24px;
  line-height: 31px;
}
