/* Navigation */

@media (max-width: 953px) {
  .navigation {
    display: none;
  }
}

/* List */

@media (min-width: 954px) {
  .navigation__list {
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    column-gap: 32px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

/* Link */

@media (min-width: 954px) {
  .navigation__link {
    color: var(--black);
    text-decoration: none;
  }
}

/* Active Link */

@media (min-width: 954px) {
  .navigation__link--active {
    color: var(--primary);
  }
}
