/* List */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Item */

.item:not(:first-child) {
  margin-top: -1px;
}

/* Link */

.link {
  position: relative;
  display: grid;
  grid-template-columns: 40px 1fr;
  column-gap: 16px;
  padding: 16px;
  text-decoration: none;
}

.link:focus {
  outline: none;
}

.link:hover,
.link:focus {
  background-color: var(--gray-400);
}

.item:not(:last-child) .link::after {
  content: '';
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: 0;
  border-bottom: 1px solid var(--gray-400);
}

/* Cover */

.cover {
  align-self: start;
  display: flex;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* Title */

.title {
  margin: 0;
  margin-top: -3px;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: var(--black);
}

/* Author */

.author {
  margin: 0;
  margin-top: -3px;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-800);
}
