/* List */

.search-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Item */

.search-list__item {
  position: relative;
}

.search-list__item:not(:first-child) {
  margin-top: -1px;
}

.search-list__item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 16px;
  left: 16px;
  bottom: 0;
  border-bottom: 1px solid var(--gray-400);
}
