/* Header */

.header {
  display: grid;
}

@media (max-width: 953px) {
  .header {
    row-gap: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: 954px) {
  .header {
    row-gap: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
