/* Episode Head */

.episode-head {
  display: grid;
  grid-template-areas:
    'image content'
    'button content'
  ;
  grid-template-rows: min-content 1fr;
  align-items: start;
  row-gap: 16px;
}

@media (max-width: 953px) {
  .episode-head {
    grid-template-columns: 120px 1fr;
    column-gap: 16px;
    padding-bottom: 24px;
  }
}

@media (min-width: 954px) {
  .episode-head {
    grid-template-columns: 210px 1fr;
    column-gap: 32px;
    padding-bottom: 32px;
  }
}

/* Image */

.episode-head__image {
  grid-area: image;
  display: block;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 953px) {
  .episode-head__image {
    width: 120px;
    height: auto;
  }
}

/* Content */

.episode-head__content {
  grid-area: content;
}

@media (max-width: 953px) {
  .episode-head__content {
    display: grid;
    row-gap: 8px;
  }
}

@media (min-width: 954px) {
  .episode-head__content {
    display: grid;
    row-gap: 16px;
  }
}

/* Author */

.episode-head__author {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: var(--primary);
}

/* Title */

@media (max-width: 953px) {
  .episode-head__title {
    font-size: 20px;
    line-height: 26px;
  }
}

/* Published */

.episode-head__published {
  margin: 0;
  color: var(--gray-800);
}
