/* Episode Head */

.episode-head {
  display: grid;
  border-bottom: 1px solid var(--gray-400);
}

@media (max-width: 953px) {
  .episode-head {
    row-gap: 16px;
    margin-bottom: 24px;
    padding-bottom: 24px;
  }
}

@media (min-width: 954px) {
  .episode-head {
    grid-template-areas:
      'image content'
      'button content'
    ;
    grid-template-columns: 210px 1fr;
    grid-template-rows: min-content 1fr;
    align-items: start;
    row-gap: 16px;
    column-gap: 32px;
    margin-bottom: 32px;
    padding-bottom: 32px;
  }
}

/* Image */

.episode-head__image {
  display: block;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

@media (min-width: 954px) {
  .episode-head__image {
    grid-area: image;
  }
}

/* Play Button */

@media (max-width: 953px) {
  .episode-head__play-button {
    max-width: 210px;
    order: 1;
  }
}

/* Content */

@media (max-width: 953px) {
  .episode-head__content {
    display: grid;
    row-gap: 8px;
  }
}

@media (min-width: 954px) {
  .episode-head__content {
    grid-area: content;
    display: grid;
    row-gap: 16px;
  }
}

/* Author */

.episode-head__author {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: var(--primary);
}

/* Title */

@media (max-width: 953px) {
  .episode-head__title {
    font-size: 20px;
    line-height: 26px;
  }
}

/* Published */

.episode-head__published {
  margin: 0;
  color: var(--gray-800);
}
