/* Bottom Bar */

@media (max-width: 953px) {
  .bottom-bar {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    min-width: 320px;
    height: 48px;
    padding-right: 16px;
    padding-left: 16px;
    border-top: 1px solid var(--gray-400);
    background-color: var(--white);
  }
}

@media (min-width: 954px) {
  .bottom-bar {
    display: none;
  }
}

/* List */

@media (max-width: 953px) {
  .bottom-bar__list {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    column-gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

/* Link */

@media (max-width: 953px) {
  .bottom-bar__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
  }
}

/* Icon */

@media (max-width: 953px) {
  .bottom-bar__icon {
    vertical-align: top;
  }

  .bottom-bar__link--active .bottom-bar__icon {
    fill: var(--primary);
  }
}

/* Text */

@media (max-width: 953px) {
  .bottom-bar__text {
    display: none;
  }
}
