/* Navigation */

@media (max-width: 953px) {
  .navigation {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    height: 64px;
    padding: 16px;
    background-color: var(--gray-300);
  }
}

/* List */

.navigation__list {
  display: grid;
  grid-auto-flow: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 953px) {
  .navigation__list {
    justify-items: center;
    column-gap: 16px;
  }
}

@media (min-width: 954px) {
  .navigation__list {
    justify-content: center;
    column-gap: 32px;
  }
}

/* Link */

.navigation__link {
  color: var(--black);
  text-decoration: none;
}

/* Active Link */

@media (min-width: 954px) {
  .navigation__link--active {
    color: var(--primary);
  }
}

/* Icon */

@media (max-width: 953px) {
  .navigation__link--active .navigation__icon {
    fill: var(--primary);
  }
}

@media (min-width: 954px) {
  .navigation__icon {
    display: none;
  }
}

/* Text */

@media (max-width: 953px) {
  .navigation__text {
    display: none;
  }
}
