/* App */

@media (max-width: 953px) {
  .app {
    min-height: 100vh;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 72px;
  }

  .app--with-player {
    padding-bottom: 164px;
  }
}

@media (min-width: 954px) {
  .app {
    max-width: 954px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 32px;
  }

  .app--with-player {
    padding-bottom: 152px;
  }
}
