/* App */

@media (max-width: 953px) {
  .app {
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 128px;
  }
}

@media (min-width: 954px) {
  .app {
    max-width: 954px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
    padding-bottom: 152px;
  }
}
