/* Play Control */

.play-control {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: 2px solid var(--primary);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.play-control:hover {
  background-color: var(--primary);
}

/* Icon */

.play-control__icon {
  fill: var(--primary);
  stroke: var(--primary);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.play-control:hover .play-control__icon {
  fill: var(--white);
  stroke: var(--white);
}

/* Play Icon */

.play-control__icon--play {
  margin-left: 2px;
}

/* Chech Icon */

.play-control__icon--check {
  width: 18px;
  height: 18px;
  margin-left: 0;
  margin-top: 2px;
  stroke: var(--gray-700);
  stroke-width: 3;
  fill: none;
}

.play-control:hover .play-control__icon--check {
  stroke: var(--gray-700);
  fill: none;
}

/* Progress */

.play-control__progress {
  position: absolute;
  top: -2px;
  left: -2px;
}

.play-control:hover .play-control__progress {
  display: none;
}

/* Theme Fill */

.play-control--theme--fill,
.play-control--theme--fill:hover {
  border-color: var(--white);
  background-color: var(--white);
}

.play-control--theme--fill .play-control__icon,
.play-control--theme--fill:hover .play-control__icon {
  fill: var(--black);
  stroke: var(--black);
}

.play-control--theme--fill .play-control__progress {
  display: none;
}

/* Theme Player */

.play-control--theme--player,
.play-control--theme--player:hover {
  border-color: var(--black);
  background-color: var(--black);
}

.play-control--theme--player .play-control__icon,
.play-control--theme--player:hover .play-control__icon {
  fill: var(--white);
  stroke: var(--white);
}

.play-control--theme--player .play-control__progress {
  display: none;
}

/* Size Big */

.play-control--size--big {
  width: 48px;
  height: 48px;
}

.play-control--size--big .play-control__icon {
  width: 20px;
  height: 20px;
}

/* Archived */

.play-control--archived {
  border-color: var(--gray-700);
}

.play-control--archived:hover {
  border-color: var(--gray-700);
  background-color: transparent;
}
