/* Play Control */

.control {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  border: 2px solid var(--primary);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

.control:hover {
  background-color: var(--primary);
}

/* Icon */

.icon {
  fill: var(--primary);
  stroke: var(--primary);
  stroke-width: 2px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.control:hover .icon {
  fill: var(--white);
  stroke: var(--white);
}

/* Play Icon */

.iconPlay {
  margin-left: 2px;
}

/* Progress */

.progress {
  position: absolute;
  top: -2px;
  left: -2px;
}

.control:hover .progress {
  display: none;
}

/* Theme Fill */

.themeFill,
.themeFill:hover {
  border-color: var(--white);
  background-color: var(--white);
}

.themeFill .icon,
.themeFill:hover .icon {
  fill: var(--black);
  stroke: var(--black);
}

.themeFill .progress {
  display: none;
}
