/* Podcasts Grid */

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 953px) {
  .grid {
    display: grid;
    row-gap: 16px;
  }
}

@media (min-width: 954px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(6, 131px);
    gap: 24px;
  }
}

/* Item */

@media (max-width: 953px) {
  .withCounter {
    display: grid;
    grid-template-columns: 16px 1fr;
    column-gap: 8px;
    align-items: center;
  }
}

@media (min-width: 954px) {
  .withCounter {
    display: grid;
    row-gap: 8px;
    align-content: start;
  }
}

/* Counter */

.counter {
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-800);
}

@media (min-width: 954px) {
  .counter {
    text-align: center;
  }
}
