/* Podcasts Grid */

.podcasts-grid {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 953px) {
  .podcasts-grid {
    display: grid;
    row-gap: 16px;
  }
}

@media (min-width: 954px) {
  .podcasts-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
  }
}
