/* Search */

.search {
  position: relative;
  width: 100%;
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
}

/* Popup */

.search__popup {
  position: absolute;
  top: 56px;
  left: 0;
  right: 0;
  max-height: 300px;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--white);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
}
