/* Blankslate */

.blankslate {
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}

/* Title */

@media (max-width: 953px) {
  .blankslate__title {
    margin-bottom: 16px;
  }
}

@media (min-width: 954px) {
  .blankslate__title {
    margin-bottom: 24px;
  }
}

/* Text */

.blankslate__text {
  margin: 0;
}

@media (max-width: 953px) {
  .blankslate__text {
    font-size: 15px;
    line-height: 24px;
  }
}

@media (min-width: 954px) {
  .blankslate__text {
    font-size: 18px;
    line-height: 26px;
  }
}
