/* Blankslate */

.blankslate {
  max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}

/* Title */

.title {
  margin-bottom: 24px;
}

/* Text */

.text {
  margin: 0;
  font-size: 18px;
  line-height: 26px;
}
