/* Podcast Head */

@media (max-width: 953px) {
  .podcast-head {
    display: grid;
    grid-template-areas:
      'image'
      'title'
      'author'
      'button'
      'link'
      'description'
    ;
    row-gap: 16px;
    padding-bottom: 24px;
  }
}

@media (min-width: 954px) {
  .podcast-head {
    display: grid;
    grid-template-areas:
      'image title'
      'image author'
      'image link'
      'image description'
      'button description'
    ;
    grid-template-columns: 210px 1fr;
    grid-template-rows: min-content min-content min-content min-content 1fr;
    column-gap: 32px;
    row-gap: 16px;
    padding-bottom: 32px;
  }
}

/* Image */

.podcast-head__image {
  grid-area: image;
  display: block;
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 953px) {
  .podcast-head__image {
    justify-self: center;
  }
}

/* Subscribe Button */

.podcast-head__subscribe-button {
  grid-area: button;
}

@media (max-width: 953px) {
  .podcast-head__subscribe-button {
    justify-self: center;
    max-width: 210px;
  }
}

@media (min-width: 954px) {
  .podcast-head__subscribe-button {
    align-self: start;
  }
}

/* Title */

.podcast-head__title {
  grid-area: title;
}

@media (max-width: 953px) {
  .podcast-head__title {
    text-align: center;
  }
}

/* Author */

.podcast-head__author {
  grid-area: author;
  margin: 0;
  color: var(--gray-800);
}

@media (max-width: 953px) {
  .podcast-head__author {
    text-align: center;
  }
}

/* Link */

.podcast-head__link {
  grid-area: link;
  display: inline-block;
  vertical-align: top;
  color: var(--primary);
  text-decoration: none;
}

/* Description */

.podcast-head__description {
  grid-area: description;
  margin: 0;
  font-size: 15px;
  line-height: 24px;
}

@media (max-width: 953px) {
  .podcast-head__description--full-space {
    grid-row: span 2;
  }
}

@media (min-width: 954px) {
  .podcast-head__description--full-space {
    grid-row: span 3;
  }
}
