/* Player */

.player {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 50;
  min-width: 320px;
  background-color: var(--white);
  color: var(--black);
}

@media (max-width: 953px) {
  .player {
    bottom: 48px;
    padding: 16px;
  }

  .player--mini {
    height: 92px;
    border-top: 1px solid var(--gray-300);
  }

  .player--full {
    top: 0;
    display: grid;
    row-gap: 24px;
    justify-items: center;
    overflow-y: auto;
  }
}

@media (min-width: 954px) {
  .player {
    bottom: 0;
    height: 120px;
    padding: 24px;
    border-top: 1px solid var(--gray-300);
  }
}

/* Popover */

@media (max-width: 953px) {
  .player__popover {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .player--mini .player__popover {
    position: absolute;
    top: -17px;
    left: 50%;
    margin-left: -27px;
    padding: 0 8px;
  }
}

@media (min-width: 954px) {
  .player__popover {
    display: none;
  }
}

/* Popover Icon */

@media (max-width: 953px) {
  .player__popover-icon {
    vertical-align: top;
    stroke: var(--gray-700);
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
  }
}

/* Spinner */

.player__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

/* Inner */

@media (max-width: 953px) {
  .player--mini .player__inner {
    display: grid;
    grid-template-columns: 72px 1fr 72px;
    column-gap: 24px;
    align-items: center;
  }

  .player--full .player__inner {
    display: grid;
    row-gap: 24px;
    width: 288px;
    padding-bottom: 80px;
  }
}

@media (min-width: 954px) {
  .player__inner {
    display: grid;
    grid-template-columns: min-content 144px 1fr 72px 144px;
    align-items: center;
    column-gap: 24px;
  }
}

/* Image */

.player__image {
  display: block;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 953px) {
  .player--mini .player__image {
    width: 60px;
    height: 60px;
  }

  .player--full .player__image {
    width: 210px;
    height: 210px;
    justify-self: center;
  }
}

/* Info */

.player__info {
  text-align: center;
}

@media (max-width: 953px) {
  .player--mini .player__info {
    display: none;
  }

  .player--full .player__info {
    display: grid;
    row-gap: 8px;
  }
}

@media (min-width: 954px) {
  .player__info {
    max-width: 888px;
  }
}

/* Title */

.player__title {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

@media (min-width: 954px) {
  .player__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Title Link */

.player__title-link {
  color: var(--black);
  text-decoration: none;
}

/* Author */

.player__author {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-top: -3px;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-800);
  text-decoration: none;
}

/* Controls */

.player__controls {
  display: grid;
  row-gap: 8px;
}

@media (max-width: 953px) {
  .player--mini .player__controls {
    display: none;
  }
}

/* Play Controls */

.player__play-controls {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  justify-content: center;
  align-items: center;
}

@media (max-width: 953px) {
  .player__play-controls {
    column-gap: 24px;
  }

  .player--full .player__play-controls {
    order: 1;
  }
}

@media (min-width: 954px) {
  .player__play-controls {
    column-gap: 16px;
  }
}

/* Speed */

@media (max-width: 953px) {
  .player__speed {
    display: none;
  }
}

/* Volume */

@media (max-width: 953px) {
  .player__volume {
    display: none;
  }
}

@media (min-width: 954px) {
  .player__volume {
    justify-self: center;
    max-width: 144px;
  }
}
