/* Player */

.player {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  min-width: 320px;
  color: var(--white);
}

@media (max-width: 953px) {
  .player--mini {
    height: 145px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .player--full {
    top: 0;
    display: grid;
    align-content: end;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 954px) {
  .player {
    height: 120px;
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.9);
  }
}

/* Widget */

@media (max-width: 953px) {
  .player__widget {
    display: grid;
    row-gap: 24px;
    justify-items: center;
  }

  .player--full .player__widget {
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    padding: 16px;
    background-color: var(--black);
  }
}

/* Popover */

@media (max-width: 953px) {
  .player__popover {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
  }
}

@media (min-width: 954px) {
  .player__popover {
    display: none;
  }
}

/* Popover Icon */

.player__popover-icon {
  vertical-align: top;
  stroke: var(--gray-700);
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Spinner */

.player__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

/* Inner */

@media (max-width: 953px) {
  .player--mini .player__inner {
    display: grid;
    grid-template-columns: 72px 1fr 72px;
    column-gap: 24px;
    align-items: center;
  }

  .player--full .player__inner {
    display: grid;
    justify-items: center;
    row-gap: 16px;
  }
}

@media (min-width: 954px) {
  .player__inner {
    display: grid;
    grid-template-columns: min-content 144px 1fr 72px 144px;
    align-items: center;
    column-gap: 24px;
  }
}

/* Image */

.player__image {
  display: block;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 953px) {
  .player--mini .player__image {
    width: 72px;
    height: 72px;
  }
}

/* Info */

.player__info {
  text-align: center;
}

@media (max-width: 953px) {
  .player--mini .player__info {
    display: none;
  }
}

@media (min-width: 954px) {
  .player__info {
    max-width: 888px;
  }
}

/* Title */

.player__title {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

@media (min-width: 954px) {
  .player__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Title Link */

.player__title-link {
  color: var(--white);
  text-decoration: none;
}

/* Author */

.player__author {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-top: -3px;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-800);
  text-decoration: none;
}

/* Controls */

.player__controls {
  display: grid;
  row-gap: 8px;
}

@media (max-width: 953px) {
  .player--mini .player__controls {
    display: none;
  }
}

/* Play Controls */

.player__play-controls {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  justify-content: center;
  column-gap: 24px;
}

/* Speed */

@media (max-width: 953px) {
  .player--mini .player__speed {
    display: none;
  }
}

/* Volume */

.player__volume {
  justify-self: center;
  max-width: 144px;
}

@media (max-width: 953px) {
  .player--mini .player__volume {
    display: none;
  }
}
