/* Player */

.player {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  min-width: 320px;
  color: var(--white);
}

@media (max-width: 953px) {
  .mini {
    height: 104px;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .full {
    top: 0;
    display: grid;
    align-content: end;
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (min-width: 954px) {
  .player {
    height: 120px;
    padding: 24px;
    background-color: rgba(0, 0, 0, 0.9);
  }
}

/* Widget */

@media (max-width: 953px) {
  .mini .widget {
    position: relative;
    height: 100%;
  }

  .full .widget {
    display: grid;
    row-gap: 24px;
    justify-items: center;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    padding: 16px;
    background-color: var(--black);
    overflow-y: auto;
  }
}

/* Popover */

@media (max-width: 953px) {
  .popover {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
  }

  .mini .popover {
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -27px;
    padding: 8px;
  }
}

@media (min-width: 954px) {
  .popover {
    display: none;
  }
}

/* Popover Icon */

.popoverIcon {
  vertical-align: top;
  stroke: var(--gray-700);
  stroke-width: 5px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* Spinner */

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

/* Inner */

@media (max-width: 953px) {
  .mini .inner {
    display: grid;
    grid-template-columns: 72px 1fr 72px;
    column-gap: 24px;
    align-items: center;
  }

  .full .inner {
    display: grid;
    row-gap: 24px;
    width: 288px;
    padding-bottom: 80px;
  }
}

@media (min-width: 954px) {
  .inner {
    display: grid;
    grid-template-columns: min-content 144px 1fr 72px 144px;
    align-items: center;
    column-gap: 24px;
  }
}

/* Image */

.image {
  display: block;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 953px) {
  .mini .image {
    width: 72px;
    height: 72px;
  }

  .full .image {
    width: 210px;
    height: 210px;
    justify-self: center;
  }
}

/* Info */

.info {
  text-align: center;
}

@media (max-width: 953px) {
  .mini .info {
    display: none;
  }
}

@media (min-width: 954px) {
  .info {
    max-width: 888px;
  }
}

/* Title */

.title {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

@media (min-width: 954px) {
  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

/* Title Link */

.titleLink {
  color: var(--white);
  text-decoration: none;
}

/* Author */

.author {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-top: -3px;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-800);
  text-decoration: none;
}

/* Controls */

.controls {
  display: grid;
  row-gap: 8px;
}

@media (max-width: 953px) {
  .mini .controls {
    display: none;
  }
}

/* Play Controls */

.playControls {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  justify-content: center;
  column-gap: 24px;
}

@media (max-width: 953px) {
  .full .playControls {
    order: 1;
  }
}

/* Speed */

@media (max-width: 953px) {
  .mini .speed {
    display: none;
  }

  .full .speed {
    display: none;
  }
}

/* Volume */

.volume {
  justify-self: center;
  max-width: 144px;
}

@media (max-width: 953px) {
  .mini .volume {
    display: none;
  }

  .full .volume {
    display: none;
  }
}
