/* Player */

.player {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  min-width: 320px;
  background-color: rgba(0, 0, 0, 0.9);
  color: var(--white);
}

@media (max-width: 953px) {
  .player--mini {
    height: 80px;
    padding: 16px;
  }
}

@media (min-width: 954px) {
  .player {
    height: 120px;
    padding: 24px;
  }
}

/* Spinner */

.player__spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
}

/* Inner */

@media (max-width: 953px) {
  .player--mini .player__inner {
    display: grid;
    grid-template-columns: min-content 1fr;
    column-gap: 24px;
    align-items: center;
  }
}

@media (min-width: 954px) {
  .player__inner {
    display: grid;
    grid-template-columns: min-content 144px 1fr 72px 144px;
    align-items: center;
    column-gap: 24px;
  }
}

/* Image */

.player__image {
  display: block;
  border-radius: 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

@media (max-width: 953px) {
  .player--mini .player__image {
    width: 48px;
    height: 48px;
  }
}

/* Info */

.player__info {
  max-width: 888px;
  text-align: center;
}

@media (max-width: 953px) {
  .player--mini .player__info {
    display: none;
  }
}

/* Title */

.player__title {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Title Link */

.player__title-link {
  color: var(--white);
  text-decoration: none;
}

/* Author */

.player__author {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-top: -3px;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-800);
  text-decoration: none;
}

/* Controls */

.player__controls {
  display: grid;
  row-gap: 8px;
}

@media (max-width: 953px) {
  .player--mini .player__controls {
    display: none;
  }
}

/* Play Controls */

.player__play-controls {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  justify-content: center;
  column-gap: 24px;
}

/* Speed */

@media (max-width: 953px) {
  .player--mini .player__speed {
    display: none;
  }
}

/* Volume */

.player__volume {
  justify-self: center;
  max-width: 144px;
}

@media (max-width: 953px) {
  .player--mini .player__volume {
    display: none;
  }
}
