/* Error */

.error {
  padding: 32px;
  text-align: center;
}

/* Title */

.title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: -0.02em;
}

/* Text */

.text {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
}
