/* Podcast Card */

.card {
  text-decoration: none;
}

@media (max-width: 953px) {
  .card {
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: start;
    column-gap: 16px;
  }
}

/* Cover */

.cover {
  display: flex;
  border-radius: 4px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

/* Info */

@media (min-width: 954px) {
  .withoutInfo {
    display: none;
  }
}

/* Title */

.title {
  margin: 0;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: var(--black);
}

/* Author */

.author {
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  color: var(--gray-800);
}
