/* Genre Grid */

.grid {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (max-width: 953px) {
  .grid {
    display: grid;
    row-gap: 8px;
  }
}

@media (min-width: 954px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
    row-gap: 16px;
  }
}

/* Link */

.link {
  color: var(--primary);
  text-decoration: none;
}
